.about {
    h1 {
        text-align: center;
        margin-bottom: 80px;
    }

    .df {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        display: ruby;

        .card {
            width: 350px;
            height: 400px;
            border: 3px solid #2A313C;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;

            .on {
                width: 100%;
                height: 50px;
                background-color: #2A313C;
                color: white;
                font-size: 22px;
                font-weight: 900;
                text-align: center;
                border-radius: 27px 27px 0px 0px;
                -webkit-border-radius: 27px 27px 0px 0px;
                -moz-border-radius: 27px 27px 0px 0px;
                -ms-border-radius: 27px 27px 0px 0px;
                -o-border-radius: 27px 27px 0px 0px;
            }

            .text {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                margin-top: 20px;
                color: #2A313C;
            }

            a {
                text-decoration: none;
                color: blue;
            }

            button {
                margin-top: 15px;
                border: none;
                font-weight: 900;
                width: 150px;
                height: 40px;
                border-radius: 25px;
                background-color: #F4BF21;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }
        }
    }
}