footer {
    margin-top: 120px;
    display: flex;
    background: #2A313C;
    width: 1540px;
    margin-left: -175px;

    .df{
        display: flex;
        margin: 0 auto;
        width: 85%;
        justify-content: space-between;
        .left {
            .logo {
                margin-top: 10px;
                color: gold;
            }
    
            .text {
                margin-top: 10px;
                width: 270px;
                color: white;
            }
        }
        
        .right{
            .dir{
                display: flex;
                margin-top: 30px;
                h4{
                    color: gold;
                }
            }
        }
    }

}